@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/*
font-family: 'Ubuntu', sans-serif;*/

body{
  font-family: 'Poppins', sans-serif;
font-size: 15px;
color: #444;
    
}

@keyframes slide-down {
  0% {
         /*opacity: 0;*/
         transform: translateY(-100%);
 }
  100% {
         /*opacity: 0.9;*/
         transform: translateY(0);
 }
 }
 /* ---------------- End sticky header: class="float-panel"  ------------------*/
 header{ width:100%; float:left; background-color:#fff; min-height:96px; transform: translateZ(0);
	transition:all 0.5s}
 .cbp-af-header-shrink {
     background-color: #fff;
     box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
     left: 0;
     margin-top: 0;
     position: fixed;
     top: 0;
     z-index: 2; animation:slide-down 0.7s;
 }

 .site-nav-col.cbp-af-header-shrink {
  background: #fff;
  box-shadow: none;
  min-height: 75px;
}

.mainmenu .navbar.navbar-default {
	background: none;
	height: 96px;
	border: none;
	border-radius: 0;
	min-height: inherit;
	margin: 2px;
	border-top: solid 1px #0C1028;
	border-bottom: solid 2px #DFE3DE;
}

.mainmenu .nav.navbar-nav li a {
  color: #0C1028;
  padding: 0 25px;
  transition: all 0.4s ease;
line-height: 95px;
}
.mainmenu .nav.navbar-nav {
  margin: 0px 0 0 0;
}



 .mainmenu .navbar-nav > li a:focus, .mainmenu .navbar-nav > li a:hover {
 
  color: #04B7D4;
} 


.allbtns a {
	background: #0C1028;
	color: #fff;
	padding: 13px 15px;
	border-radius: 4px;
	width: 240px;
	text-align: center;
	margin: 0 0 13px 0;
	text-decoration: none;
	transition: all 0.4s ease;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.allbtns a:hover {
  background: #fff;
  color: #04B7D4;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1)
}



.top_links {
    background:#04B7D4;
    height: 96px;
    color: #fff;
    text-align: left;
  }

  .top_bar span {
    font-size: 21px;
    font-weight: 500;
  }

  .top_bar small {
    font-size: 12px;
    font-weight: 500;
}

  
  .top_bar a {
    text-decoration: none;
  }
  .top_links .logo a {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin: 12px 0 0 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
} 

.top_bar {
	padding: 29px 0 0 0;
	text-align: right;
}
  .top_bar a {
    font-size: 15px;
    color: #fff;
    margin-left: 25px;
  }
  .top_bar a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    line-height: 31px;
    top: 0;
    margin-right: 9px;
    border: solid 2px #fff;
    font-size: 24px;
  }


  .banner_img {
    position: relative;
    background: url(../images/banner_bg.jpg) left top no-repeat;
    float: left;
    width: 100%;
    height: 615px;
    background-size: cover;
  }

  .banner_txt {
    padding: 150px 0 0 0;
  }
  .banner_txt h1 {
    color: #0C1028;
    font-size: 43px;
    font-weight: 600;
    margin: 0px 0 32px 0;
    position: relative;
    padding: 0;
  }

  .banner_txt h1 span:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #08B6D3;
    height: 3px;
    width: 90px;
  }
  .banner_txt h1 span::before {
  }
  .banner_txt h1 span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    background: #AAAEB0;
    height: 1px;
    width: 54%;
  }
  .banner_txt h1 small {
    color: #04B7D4;
    font-size: 43px;
    font-weight: 600;
    display: block;
  }

  .bann_imgs {
    padding: 80px 0 0 0;
  }

  .bann_imgs img{ width: 100%;}

  .banner_phn span {
    font-size: 46px;
    font-weight: 500;
  }

  .banner_txt h1 span {
    color: #0C1028;
    display: block;
    font-weight: 300;
    font-size: 36px;
    position: relative;
    padding: 0 0 14px 0;
    margin: 0 0 12px 0;
}
 
  .banner_txt p {
    color: #666;
    font-size: 16px;
    line-height: 27px;
  }

  .banner_phn i {
    color: #484444;
    width: 76px;
    height: 76px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    line-height: 71px;
    top:5px;
    margin-right: 9px;
    border: solid 4px #484444;
    font-size: 57px;
  }

  .banner_phn small {
    font-size: 27px;
    font-weight: 500;
  }

  .pg_title {
    margin: 20px 0 80px 0;
    text-align: center;
  }

  .pg_title h4 {
    color: #0C1028;
    font-weight: 600;
    font-size: 43px;
    padding: 0 0 15px 0;
    position: relative;
  }

  .pg_title .trans_heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 3px;
    background: #32B51E;
    margin: 0 auto;
    text-align: center;
    right: 110px;
  }

  .pg_title h4 small {
    display: block;
    font-size: 20px;
    color: #04B7D4;
  }

  .about {
    padding: 50px 0 0px 0;
    float: left;
    width: 100%;
  }

  .alexa_info {
    text-align: center;
    margin: 0 0 140px 0;
    transition: all 0.4s ease;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 8px 18px 0 rgba(0,0,0,0.1);
    border: solid 2px #ECECEC;
    position: relative;
    padding: 200px 50px 40px 50px;
    transition: all 0.4s ease;
    min-height: 465px;
  }

  .alexa_contt h4 {
    font-size: 24px;
    color: #0C1028;
    margin: 15px 0 20px 0;
    font-weight: 600;transition: all 0.4s ease;
  }

  .alexa_info:hover  .alexa_contt h4 {
    color: #08B6D3;
  }

  .alexa_img img {
    width: 100%;
  }

  .get_assis {
    float: left;
    width: 100%;
    background:url(../images/call_assis.png) right top no-repeat #F6F1F1;
    position: relative;  
    z-index: 1;
    padding: 50px 0 80px 0;
  }

  

  .get_assis .pg_title h4 {
    color: #0C1028;
  }

  .get_assis .pg_title {
    text-align: center;
  }

  .get_assis .pg_title h4::after {
    background: none;
  }

  .get_assis .pg_title h4 small {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
  }

  .assis_infos ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: auto;
  }
 .assis_infos ul li {
	float: left;
	background: transparent;
	border-radius: 100%;
	text-align: center;
	padding: 34px 0 0 0;
	margin: 0 14% 0 0;
  transition: all 0.4s ease;
}

.assis_infos ul li:hover {
	border: none;
}


  .assis_infos .assis_icon span {
    display: block;
    font-size: 18px;
    color: #04B7D4;
    font-weight: 500;
  }
  .assis_infos {
    float: left;
    width: 100%;
  }

  
.get_assis .banner_phn {
    text-align: center;
    float: left;
    width: 100%;
  }

  .get_assis .banner_phninfo {
    text-align: center;
    color: #fff;
    padding: 10px 10px 20px 10px;
    width: 740px;
    margin: 30px auto 0 auto;
    background: rgba(255,255,255,0.1);
    border-radius: 25px;
  }

  .banner_phninfo i {
    color: #fff;
    border-color: #fff;
  }

  .banner_phninfo small {
    font-size: 42px;
  }

  .industry_txt {
    float: left;
    width: 100%;
    padding: 54px 0 75px 0;
    background: url(../images/fix_bg.jpg) left top no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .industry_txt .pg_title .trans_heading {
    color: #58595B;
  }

  .industry_txt::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.77);
    z-index: -1;
    content: "";
  }


  .industry_txt .pg_title h4 small {
    font-size: 32px;
    font-weight: 300;
    color: #544C4C;
  }
  .industry_txt .pg_title h4 {
    font-size: 32px;
    color: #fff;
  }


  .industry_txt .pg_title h4:after { background: none;}
  .industry_txt .pg_title {
    margin-bottom: 55px;
  }
  .industry_txt p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 28px;
  }

  .industry_txt p span{
    font-size: 29px;
    font-weight: 700;
    color: #00B8D5;
  }

  .c_says {
    float: left;
    width: 100%;
    background: url(../images/c-saysbg.jpg) left top no-repeat;
    background-size: cover;
    padding: 50px 0 100px 0;
  }

  .says {
    text-align: center;
    color: #313131;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    padding: 0 0 15px 0;
    margin-bottom: 80px;
  }
  .says:after {
  }
  .says:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 55px;
    height: 4px;
    background: #04B7D4;
    margin: 0 auto;
    text-align: center;
    right: 0;
  }
 .saysinfo {
	width: 80%;
	margin: 10px auto 0px auto;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	color: #08B6D3;
}

.saysinfo p{
	color: #555;
}

  .page_title {
    text-align: center;
  }
  .page_title h2 {
    margin: 0;
    color: #26BBE8;
    text-transform: capitalize;
    position: relative;
  }
  .page_title h2:after {
    background: #444;
    content: "";
    height: 4px;
    width: 45px;
    bottom: -10px;
    left: 0;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    right: 0;
  }
  .page_title small {
    margin: 23px 0 0 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #555;
  }


.footer_top {
	background: #38373D;
	color: #fff;
	padding: 30px 0;
	text-align: center;
}

  footer {
    float: left;
    width: 100%;
  }

  .footer_top {
    background: #08B6D3;
    color: #fff;
    padding: 40px 0 50px 0;
    text-align: center;
  }

  .footer_top h4 {
    font-size: 43px;
    font-weight: 600;
    margin: 10px 0 20px 0;
  }

  .footer_top p {
    font-size: 16px;
    line-height: 28px;
  }

  .footer_top span {
    font-size: 60px;
    font-weight: 500;
  }
  
  .footer_btm {
    text-align: center;
    padding: 15px 0;
    background: #1F1B1B;
  }
 
  .copy_right {
    color: #fff;
    margin: 10px 0;
    font-weight: 400;
    font-size: 14px;
  }

  .setup_echo {
    background: none;
    padding: 50px 0;
    float: left;
    width: 100%;
  }
  .setup_echo .pg_title {
    text-align: center;
    margin-bottom: 40px;
  }
  .setup_echo .pg_title h4:after {
    margin: 0 auto;
    right: 0;
  }

  .set_points ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .set_points ul li {
    margin: 0 0 18px 0;
    position: relative;
    list-style: none;
    padding: 0 0 0 30px;
  }
  .setinfos p {
    text-align: center;
    margin: 0 0 60px 0;
    font-size: 17px;
    font-weight: 500;
  }

  .setupline p {
    color: #08B6D3;
  }

  .setup_img img {
    width: 100%;
  }

  .set_points ul li::after {
    position: absolute;
    content: "";
    background: url(../images/set_tick.png) left top no-repeat;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
  }



/***popup style***/

.prograss_box .progress {
  margin: 55px 0 90px 0px;
  height: 1.1rem;
  border-radius: 30px;
  overflow: visible;
  position:relative;
}
.prograss_box .progress .progress-bar {
  position: relative;
  background: #82C71E;
  border-radius: 30px 0 0 30px;
}
.prograss_box .progress .progress-bar span {
  position: absolute;
  top: -22px;
  color: #333;
  font-weight: 500;
}

.prograss_box .progress .progress-bar .filesize {
	right: 0;
}

.prograss_box .progress .p_downloding {
	bottom: -20px;
	top: inherit;
	right: 11px;
	position: absolute;
	color: #777;
}

.modal.downmoadal .modal-header {
	padding: 0.75rem 1rem;
}


.prograss_errr {
  text-align: center;
}
.prograss_errr h4 {
  color: #333;
}
.prograss_errr p {
  color: #777;
}

.progress_errordiv .pop_logo {
	margin: 0 0 30px 0;
}

.progress_errordiv {
	text-align: center;
}
/***popup style***/


.mainmenu .navbar-brand {

  height: auto;
  margin: 24px 0 0 0;
      margin-left: 0px;
  padding: 0;

}


.pg_title .trans_heading {
	color: #DDDDDF;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}
.pg_title .trans_heading::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 125px;
	height: 1px;
	background: #C1C2C8;
	margin: 0 auto;
	text-align: center;
	right: 0;
}

.pg_title .trans_heading::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 25px;
	height: 3px;
	background: #04B7D4;
	margin: 0 auto;
	text-align: center;
	right: 110px;
}

.alexa_info .alexa_img {
  width: 360px;
  height: 240px;
  margin: 0 auto;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  border-radius: 6px;
  overflow: hidden;
}
.container-inns {
  padding: 0 5%;
}
.alexa_info:hover {
  background: #F9F5F5;
}

.about .pg_title {
	margin-bottom: 140px;
}


.assis_infos ul li .assis_icon {
  height: 53px;
  overflow: hidden;
  float: left;
  width: 154px;
  height: 154px;
  background: transparent;
  border-radius: 100%;
  text-align: center;
  padding: 34px 0 0 0;
  border: solid 1px #04B7D4;
  transition: all 0.4s ease;
  margin: 0 auto 11px auto;
}
.assis_infos ul li .assis_txtt {
  margin: 72px 0 0 0;
  color: #000000;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 600;
}
.assis_infos ul li .assis_txtt span {
  font-size: 18px;
  display: block;
  font-weight: 300;
  color: #56575b;
}
.assis_infos ul li:hover .assis_txtt {
	color: #08B6D3;
}
.assis_infos ul li:hover .assis_icon {
	background: #08B6D3;
}
.assis_infos ul li:last-child {
  margin-right: 0;
}



.assis_infos li:first-child .assis_icon span {
	background: url(../images/srvc1.png) center top no-repeat;
	height: 51px;
	margin: 15px 0 0 0;
	transition: all 0.5s ease;
}
.assis_infos li:hover:first-child .assis_icon span {
	background-position: center -51px;
}


.assis_infos li:nth-child(2) .assis_icon span {
	background: url(../images/srvc2.png) center top no-repeat;
	height: 48px;
	margin: 15px 0 0 0;
	transition: all 0.5s ease;
}
.assis_infos li:hover:nth-child(2) .assis_icon span {
	background-position: center -48px;
}


.assis_infos li:nth-child(3) .assis_icon span {
	background: url(../images/srvc3.png) center top no-repeat;
	height: 53px;
	margin: 15px 0 0 0;
	transition: all 0.5s ease;
}
.assis_infos li:hover:nth-child(3) .assis_icon span {
	background-position: center -53px;
}


.assis_infos li:nth-child(4) .assis_icon span {
	background: url(../images/srvc4.png) center top no-repeat;
	height: 53px;
	margin: 15px 0 0 0;
	transition: all 0.5s ease;
}
.assis_infos li:hover:nth-child(4) .assis_icon span {
	background-position: center -53px;
}

.c_says .pg_title {
	margin-bottom: 20px;
}








  /***media***/


  @media (max-width:1775px){

    .alexa_info {
      min-height: 490px;
    }

  }


 @media (max-width:1750px){

  .banner_img {
    height: 450px;
  }

  .banner_txt {
    padding: 135px 0 0 0;
  }

  .banner_img {
    height: 540px;
  }
  

  }

  @media (max-width:1620px){

    .banner_img {
      height: 400px;
    }
  
    .banner_txt {
      padding: 125px 0 0 0;
  }

    .banner_txt h1 {
      font-size: 44px;
      margin: 0px 0 22px 0;
  }

  .banner_img {
    height: 524px;
  }

  .alexa_info {
    min-height: 487px;
  }


  
    }

    @media (max-width:1575px){

      .pg_title .trans_heading {
        font-size: 60px;
      }

      .pg_title h4 {
        font-size: 34px;
      }

      .about .pg_title {
        margin-bottom: 110px;
      }

      .alexa_info {
        padding: 200px 50px 20px 50px;
        min-height: 510px;margin: 0 0 120px 0;
      }

      .alexa_contt h4 {
        font-size: 21px;
        margin: 0px 0 13px 0;
      }

      .get_assis {
        margin-top: -25px;
      }

      .get_assis .pg_title {
        text-align: center;
        margin-bottom: 20px;
      }

      .setinfos p {
        margin: 0 0 20px 0;
      }

      .c_says {
        padding: 35px 0 70px 0;
      }

      .pg_title h4 {
        font-size: 28px;
        padding: 0 0 11px 0;
      }

      .footer_top h4 {
        font-size: 33px;
      }

      

    }




  @media (max-width:1455px){

    .banner_img {
      height: 502px;
    }
  .banner_txt {
    padding: 115px 0 0 0;
}

.banner_txt h1:after {
  width: 60px;
}

.assis_infos ul li .assis_icon {
	height: 53px;
	width: 134px;
	height: 134px;
	padding: 34px 0 0 0;
}

.assis_infos ul li .assis_txtt {
	font-size: 19px;
}

.assis_infos ul li .assis_txtt span {
	font-size: 15px;
}

.setinfos p {
	text-align: center;
	margin: 0 0 60px 0;
	font-weight: 400;
}

.setup_echo .pg_title {
	margin-bottom: 30px;
}

.set_points ul li {
	font-size: 14px;
}

.set_points ul li::after {
	width: 16px;
	height: 16px;
  background-size: 100%;
  top: 4px;
}

.pg_title .trans_heading {
	font-size: 45px;
}

.industry_txt .pg_title {
	margin-bottom: 35px;
}

.industry_txt p {
	font-size: 15px;
	line-height: 22px;
}

.banner_txt h1 small {
	font-size: 34px;
	margin-top: 16px;
}

.banner_txt h1 small {
	color: #04B7D4;
	font-size: 34px;
	font-weight: 600;
	display: block;
	margin-top: 6px;
	margin-bottom: 35px;
}

  }


 @media (max-width:1366px){

  .alexa_info .alexa_img {
    width: 300px;
    height: 190px;
  }

  .alexa_info {
    padding: 150px 50px 20px 50px;
    min-height: 460px;
    margin: 0 0 120px 0;
  }

  


 }
  

  @media (max-width:1300px){

    .banner_img {
      height: 445px;
    }
  .banner_txt {
    padding: 89px 0 0 0;
}

.banner_txt h1 {
  font-size: 39px;
  margin: 0px 0 20px 0;
}

.mainmenu .navbar.navbar-default li a {
  line-height: 93px;
  padding: 0 20px;
  font-size: 15px;
}

.top_bar {
	font-size: 16px;
	padding: 28px 0 0 0;
}

.banner_txt h1:after {
  width: 45px;
}

.banner_txt h1 span {
	font-size: 30px;
}

.bann_imgs img {
	width: 270px;
}

.alexa_info {
	padding: 150px 20px 20px 20px;
	min-height: 425px;
	font-size: 14px;
}

.assis_infos ul li .assis_icon {
		padding: 24px 0 0 0;
}

.footer_top {
	padding: 30px 0 40px 0;
}

.pg_title .trans_heading {
	font-size: 41px;
}

.industry_txt .pg_title h4 {
	font-size: 27px;
}

.footer_top p {
	font-size: 15px;
	line-height: 25px;
}

.setup_echo {
	padding: 50px 0 0px 0;
}

  }


  @media (max-width:1199px){
    .banner_img {
      height: 414px;
    }
  .banner_txt h1 {
    font-size: 35px;
    margin: 0px 0 19px 0;
}
.banner_txt {
  padding: 83px 0 0 0;
}

.mainmenu .navbar.navbar-default .navbar-brand {
	margin: 0px 0 9px 0;
}

.banner_phn span {
	font-size: 36px;
}
.banner_phn i {
	width: 56px;
	height: 56px;
	line-height: 57px;
	top: 3px;
	border: solid 2px #fff;
	font-size: 37px;
}

.banner_img {
	height: 373px;
}

.pg_title {
	margin: 0 0 50px 0;
}

.alexa_info .alexa_img {
	width: 270px;
	height: 170px;
}

.alexa_info {
	padding: 122px 20px 20px 20px;
	min-height: 375px;
	font-size: 14px;
}

.banner_txt h1 span {
	font-size: 24px;
}

.banner_txt h1 {
	font-size: 24px;
}

.banner_txt h1 small {
	font-size: 24px;
}

.allbtns a {
	padding: 13px 9px;
	width: 230px;
	margin: 0 0 13px 0;
	font-size: 13px;
}

.alexa_info {
	padding: 101px 15px 15px 15px;
	min-height: 357px;
	font-size: 13px;
}

.alexa_info .alexa_img {
	width: 240px;
	height: 150px;
}


  }

  @media (max-width:1080px){
    .banner_img {
      height: 374px;
    }
  .banner_txt {
    padding: 72px 0 0 0;
}

.alexa_info {
	min-height: 377px;
}




  }





  @media (max-width:991px){
    .banner_txt h1 {
      font-size: 26px;
  }

  .banner_txt h1:after {
    width: 35px;
}

.banner_txt p {
  font-size: 14px;
  line-height: 22px;
}

.banner_txt {
	padding: 45px 0 0 0;
	width: auto;
}

.comn_points ul li {
  width: 43%;
}

.f_icon i {
  width: 55px;
  height: 55px;
  font-size: 23px;
  line-height: 53px;
}

.footer_info h5 a {
  font-size: 18px;
}

.footer_info h5 small {
  font-size: 14px;
}

.footer_info {
  width: 286px;
}

.banner_img {
	height: 340px;
}

.banner_txt h1 {
  font-size: 24px;
}

.mainmenu .navbar.navbar-default li a {
	padding: 0 10px;
	font-size: 13px;	line-height: 71px;
}

.mainmenu .navbar.navbar-default .navbar-brand {
	margin: 20px 0 9px 0;
}

.mainmenu .navbar.navbar-default {
	height: 74px;
}

.footer_top span {
	font-size: 39px;
	font-weight: 500;
}

.c_says {
	padding: 80px 0 40px 0;
}

.saysinfo {
	width: 100%;
	margin: 10px auto 50px auto;
}

.industry_txt .pg_title {
	margin-bottom: 15px;
}

.assis_infos ul {
	width: 555px;
}
.get_assis .banner_phninfo {
	width: 610px;
}

.assis_infos ul li {
	float: left;
	width: 124px;
	height: 124px;
	padding: 21px 0 0 0;
	margin: 0 15px 0 0;
}

.assis_infos ul li:last-child {
	margin-right: 0;
}

.assis_infos .assis_icon span {
	font-size: 16px;
}
.mainmenu .navbar.navbar-default li a {
	padding: 0 11px;
	font-size: 13px;
}
.mainmenu .navbar.navbar-default .navbar-brand img {
	width: 194px;
}

header {
	min-height: 76px;
}

.bann_imgs {
	padding: 30px 0 0 0;
}

.bann_imgs img {
	width: 230px;
}

.banner_txt h1 span {
	font-size: 21px;
}

.banner_txt h1 small {
	font-size: 21px;
}

.banner_txt h1 {
	font-size: 21px;
}

.allbtns a {
	padding: 13px 9px;
	width: 230px;
	margin: 0 0 3px 0;
	font-size: 12px;
	display: block;
	text-align: left;
}

.banner_txt h1 small {
	font-size: 21px;
	margin-bottom: 0;
}

.setup_img img {
	width: 300px;
}

.about {
	padding: 30px 0 0px 0;
}

.assis_infos ul li .assis_icon {
	padding: 0 0 0 0;
	width: 84px;
	height: 84px;
}

.assis_infos li:first-child .assis_icon span {
	height: 30px;
	margin: 26px 0 0 0;
	background-size: 25px;
}

.assis_infos li:hover:first-child .assis_icon span {
	background-position: center -28px;
}


.assis_infos li:nth-child(2) .assis_icon span {
	height: 25px;
margin: 29px 0 0 0;
	background-size: 25px;
}

.assis_infos li:hover:nth-child(2) .assis_icon span {
	background-position: center -25px;
}

.assis_infos li:nth-child(3) .assis_icon span {
	height: 27px;
	margin: 28px 0 0 0;
	background-size: 23px;
}

.assis_infos li:hover:nth-child(3) .assis_icon span {
	background-position: center -27px;
}

.assis_infos li:nth-child(4) .assis_icon span {
	height: 27px;
	margin: 28px 0 0 0;
	background-size: 23px;
}

.assis_infos li:hover:nth-child(4) .assis_icon span {
	background-position: center -27px;
}



.assis_infos ul li .assis_txtt {
	font-size: 14px;
}

.assis_infos ul li .assis_txtt {
	margin: 102px 40px 0 0;
	font-size: 14px;
}

.assis_infos ul li .assis_txtt span {
	font-size: 13px;
}


.c_says {
	padding: 40px 0 0px 0;
}

.alexa_info {
	min-height: 277px;
}

.pg_title h4 {
	font-size: 22px;
}

.pg_title .trans_heading {
	font-size: 33px;
}

.pg_title .trans_heading::before {
	width: 55px;
}

.pg_title .trans_heading::after {
	width: 16px;
	right: 50px;
}

.alexa_contt h4 {
	font-size: 19px;
	margin: 0px 0 13px 0;
}

.footer_top h4 {
	font-size: 24px;
}


  }

  @media (max-width:890px){

    .alexa_info {
      min-height: 297px;
    }

    .alexa_info {
      min-height: 347px;
    }


  }

  @media (max-width:767px){

    
    .navbar-default .navbar-toggle {
      border-color: #0C1028;
      transition: all 0.4s ease;
      margin-top: 16px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #03BFDE;
      transition: all 0.4s ease;
    }

    .industry_txt .pg_title h4 {
      font-size: 18px;
    }


.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}


.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
  background-color:#04B7D4;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #fff;
}

.mainmenu .navbar.navbar-default li a {
  line-height: 38px;
  padding: 0 20px 0 20px;
  font-size: 14px;
}
.mainmenu .navbar.navbar-default {
  height: auto;
  min-height: 98px;
}

.mainmenu .navbar.navbar-default .navbar-collapse {
	/* border: none; */
	margin-top: 30px;
}

.about .pull-right {
  float: none!important;
}

.hmprinter_img img {
  width: 410px;
}

.hmprinter_img {
  text-align: center;
}

.hm_printinfo h4 {
  font-size: 18px;
  margin: 0 0 26px 0;
}

.mid_img {
  text-align: center;
}

.comn_points ul li {
  width: 100%;
  float: none;
}

.botmbann {
  padding: 0px 0 40px 0;
}

.footer_info {
  width: 286px;
  margin: 0 auto 30px auto;
}

.footer_top {
	color: #fff;
	padding: 30px 0 30px 0;
}

.whatdo {
  padding: 30px 0 00px 0;
}

.about {
  padding: 20px 0 15px 0;
}
.print_serve {
  margin: 0 0 40px 0;
}

.other_commonissue {
  padding: 20px 0;
}

.page_title h2 {
  font-size: 24px;
}

.footer_top .col-md-6 {
  border-right: none;
}

.top_links {
	height: auto;
}

.logo {
	text-align: center;
}

.top_bar {
	font-size: 16px;
	padding: 8px 0 20px 0;	text-align: center;
}


.banner_txt {
	padding: 59px 0 0 0;
	width: 100%;
	text-align: center;
}

.banner_txt h1 {
	font-size: 24px;
	width: 100%;
}

.get_assis .pg_title h4 {
	font-size: 18px;
}

.pg_title h4 {
	font-size: 18px;
}

.get_assis .pg_title h4 small {
	font-size: 32px;
}

.pg_title h4 {
	font-size: 32px;
}
.allbtns a {
	width: 240px;
	display: block;
	margin: 0 auto 5px auto;
}

.bann_imgs {
	padding: 0px 0 0 0;
	text-align: center;
}
.bann_imgs img {
	width: 150px;
}

.banner_txt {
	padding: 0px 0 0 0;
	width: 100%;
	text-align: center;
}

.banner_txt h1 span {
	font-size: 17px;
}

.bann_imgs {
	padding: 0px 0 0 0;
	text-align: center;
	height: 180px;
}

.banner_txt h1 {
	font-size: 18px;
	width: 100%;
}

.banner_txt h1 small {
	font-size: 16px;
	margin-bottom: 0;
	display: inline-block;
}

.banner_txt h1 span::after {
		width: 20px;
	margin: 0 auto;
	right: 0;
}

.banner_txt h1 span::before {
width: 14%;
	right: 0;
	margin: 0 auto;
}

.allbtns a {
	width: 210px;
	display: inline-block;
	margin: 0 auto 5px auto;
}

.mainmenu .navbar.navbar-default .navbar-brand {
	margin: 20px 0 9px 20px;
}


header {
	min-height: 56px;
}

.mainmenu .navbar.navbar-default {
	min-height: 68px;
}

.alexa_info {
	min-height: inherit;
}

.banner_img {
	height: 400px;
}

  }


  @media (max-width:630px){
    .assis_infos ul li {
      float: none;
      width: 124px;
      height: 124px;
      padding: 21px 0 0 0;
      margin: 0 auto 20px auto;
    }

    .assis_infos ul li:last-child {
      margin-right: auto;
    }
    .banner_phn span {
      font-size: 22px;
    }

    .banner_phninfo small {
      font-size: 17px;
    }

    .assis_infos ul {
      width: 100%;
    }

    .get_assis .banner_phninfo {
      width: 100%;
    }

    .banner_phn i {
      width: 46px;
      height: 46px;
      line-height: 48px;
      top: 3px;
      border: solid 1px #fff;
      font-size: 26px;
    }

    .industry_txt .pg_title h4 small {
      font-size: 22px;
    }

    .industry_txt .pg_title h4 {
      font-size: 23px;
    }

    .industry_txt {
      padding: 23px 0;
    }

    .pg_title h4 {
      font-size: 24px;
    }

    .pg_title h4::after {
      width: 95px;
      height: 3px;
    }

    .setup_echo {
      padding: 23px 0;
    }

    .get_assis {
      padding: 23px 0;
      position: relative; z-index: 1;
    }

    .get_assis::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(255,255,255,0.8);
      z-index: -1;
      content: "";
    }

    .alexa_info {
      margin: 0 0 40px 0;
    }

    .assis_infos ul li {
      float: none;
      width: 210px;
      height: auto;
      padding: 21px 0 0 0;
      margin: 0 auto 20px auto;
      text-align: center;
    }
    
    .assis_infos ul li .assis_icon {
      margin: 0 auto;
      text-align: center;
      float: none;
    }
    
    .assis_infos ul li .assis_txtt {
      margin: 20px 0px 0px 0;
      font-size: 14px;
      width: auto;
    }

    .about .pg_title {
      margin-bottom: 0;
    }
    .alexa_info {
      margin: 20px 0 40px 0;
      padding: 26px 8px 15px 8px;
    }
    
    .alexa_info .alexa_img {
      width: 240px;
      height: 150px;
      position: inherit;
      top: 0;
      margin: 0 auto 30px auto;
    }

  }


  @media (max-width:575px){

    .banner_txt {
      padding: 39px 0 0 0;
      width: 100%;
  }

  .banner_img {
    height: 210px;
}

.banner_txt {
  padding: 29px 0 0 0;
  width: 100%;
}

.banner_txt h1 {
  font-size: 21px;
}

.banner_txt h1 {
	font-size: 19px;
}

.banner_phn i {
	width: 46px;
	height: 46px;
	line-height: 47px;
	top: 3px;
	border: solid 2px #484444;
	font-size: 29px;
}

.banner_phn span {
	font-size: 20px;
}

.banner_phn small {
	font-size: 17px;
}



.banner_phn span {
	font-size: 19x;
}

.top_links {
  height: auto;
}

.top_bar a i {
  background: #fff;
  color: #26BBE8;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  text-align: center;
  line-height: 30px;
  top: -1px;
  margin-right: 3px;
}

.top_bar {
  font-size: 15px;
  padding: 11px 0 11px 0;
}
.banner_txt {
	padding: 9px 0 0 0;
}

.banner_txt h1 {
	margin: 0px 0 5px 0;	padding: 6px 0px 7px 0px;
}

.bann_imgs img {
	width: 130px;
}

.bann_imgs img {
	width: 130px;
}

.banner_img {
	height: 370px;
}







.setup_img img {
	width: 260px;
}

.setup_img {
	text-align: center;
}

.pg_title .trans_heading {
	font-size: 23px;
}

.industry_txt p {
	font-size: 13px;
	line-height: 19px;
	text-align: center;
}

.alexa_info {
	margin: 20px 0 40px 0;
	padding: 8px 8px 15px 8px;
}

.bann_imgs {
	height: 140px;
}

}


  @media (max-width:480px){

    .setup_img img {
      width: 100%;
    }

    .top_bar a {
      font-size: 15px;
      margin: 6px 0 12px 0;
  }

  .top_bar {
    font-size: 15px;
    padding: 6px 0 6px 0;
    width: 240px;
    margin: 0 auto;
    text-align: center;
}

.hmprinter_img img {
  width: 100%;
}


.navbar-toggle {
  margin-top: 10px;
}

/* .mainmenu .navbar.navbar-default .navbar-brand {
  margin: 2px 0 5px 0;font-size: 25px;
} */

.top_bar a span {
  display: none;
}

.footer_info h5 a {
  font-size: 16px;
}

.footer_info h5 small {
  font-size: 13px;
}

.f_icon i {
  width: 45px;
  height: 45px;
  font-size: 17px;
  line-height: 42px;
}

.footer_info h5 {
  margin: 5px 0 0 60px;
}

.footer_links a {
  color: #fff;
  padding: 0 8px;
  line-height: 32px;
  font-size: 14px;
}

.banner_txt {
  padding: 29px 0 0 0;
  width: 100%;
}

.print_serve h3 {
  color: #555;
  position: relative;
  margin: 0 0 60px 80px;
  font-size: 20px;
}

.p_icon i {
  background: #26BBE8;
  width: 55px;
  height: 55px;
  font-size: 23px;
  line-height: 53px;
}

.mid_img img {
  width: 100%;
}

.banner_img {
	height: 380px;
}

.banner_phn small {
	font-size: 17px;
	display: none;
}

.container-inns {
	padding: 0;
}


  }

  
  @media (max-width:460px){
    .banner_img {
      height: 430px;
    }

  }

  @media (max-width:360px){

    .footer_links a {
      padding: 0 4px;
      line-height: 32px;
      font-size: 14px;
  }
  }